In [37]:
# imports of all the necessary packages
import pandas as pd
import numpy as np

In [38]:
prods = pd.read_csv('dimensiones_skus.csv', sep  =';')
prods.drop(columns = 'Atribute Code', inplace = True)
prods.dropna(inplace=True)
prods

                   Item      Atribute Desc Value
3           $CA-070_M42  Peso del producto  0 Kg
7           $CA-070_NAT  Peso del producto  0 Kg
11              $CA-105  Peso del producto  0 Kg
15      $CHANGE 140X200  Peso del producto  0 Kg
19       $CRUDO 170X240  Peso del producto  0 Kg
...                 ...                ...   ...
253523  $B306_WHITE OAK  Peso del producto  0 Kg
253527    $BARSTOOL-021  Peso del producto  0 Kg
253531         $BELLE/T  Peso del producto  0 Kg
253535    $BLUM 140X200  Peso del producto  0 Kg
253539          $BZ-882  Peso del producto  0 Kg

[197892 rows x 3 columns]

In [39]:
# Es converteixen les files {Fondo, Alto, Ancho, Peso del Producto} en columnes, cadascuna amb el seu valor
prods = prods.pivot(index=['Item'], columns=['Atribute Desc'], values=['Value'])
prods.columns = prods.columns.droplevel()
prods.rename_axis(None, axis=1, inplace=True)
prods.reset_index(inplace=True)
prods.rename(columns = {'Peso del producto': 'Peso'}, inplace=True)
prods.dropna(inplace=True)
prods

                       Item     Alto    Ancho    Fondo     Peso
0                  $0501006     1 cm   100 cm   100 cm     0 Kg
113    010108 1230190090 15  0,01 cm  0,01 cm  0,01 cm  0,01 Kg
117                  010115    40 cm     3 cm    40 cm   0,5 Kg
118                  010116  0,01 cm  0,01 cm  0,01 cm  0,01 Kg
119                  010117  0,01 cm  0,01 cm  0,01 cm  0,01 Kg
...                     ...      ...      ...      ...      ...
63380               ZOO1J35     1 cm    45 cm    45 cm   0,1 Kg
63381               ZOO2J35     1 cm    45 cm    45 cm   0,1 Kg
63382               ZUL1J26     1 cm    50 cm    30 cm   0,1 Kg
63383               ZUL2J23     1 cm    45 cm    45 cm   0,1 Kg
63384              ZV261000     1 cm     1 cm     1 cm     1 Kg

[44698 rows x 5 columns]

In [40]:
def clean(x):
    x = x.replace(" cm", "").replace(" Kg", "").replace(",", ".")
    #return float(x)
    return x

In [41]:
# Es proporciona el format desitjat (treure unitats??)
prods['Alto'] = prods['Alto'].apply(clean)
prods['Ancho'] = prods['Ancho'].apply(clean)
prods['Fondo'] = prods['Fondo'].apply(clean)
prods['Peso'] = prods['Peso'].apply(clean)

In [42]:
# S'eliminen valors incorrectes / estranys
prods = prods[prods['Peso'] != '0']
prods = prods[prods['Peso'] != '0.01']
prods = prods[prods['Alto'] != '0.01']
prods = prods[prods['Ancho'] != '0.01']
prods = prods[prods['Fondo'] != '0.01']

prods = prods[~prods.Alto.str.contains("-", regex=False)]
prods = prods[~prods.Ancho.str.contains("-", regex=False)]
prods = prods[~prods.Fondo.str.contains("-", regex=False)]
prods = prods[~prods.Peso.str.contains("-", regex=False)]

prods = prods[~prods.Alto.str.contains("/", regex=False)]
prods = prods[~prods.Ancho.str.contains("/", regex=False)]
prods = prods[~prods.Fondo.str.contains("/", regex=False)]
prods = prods[~prods.Peso.str.contains("/", regex=False)]

prods.reset_index(drop=True, inplace=True)
prods

                       Item  Alto   Ancho Fondo  Peso
0                    010115    40       3    40   0.5
1      010408 0870187070 15     7      87   187    15
2              0135COMP2156     1       1     1     1
3                01_S799_BR  94.5  69.359     2   0.5
4               01_S799_COL   189      81    13  2.91
...                     ...   ...     ...   ...   ...
22175               ZOO1J35     1      45    45   0.1
22176               ZOO2J35     1      45    45   0.1
22177               ZUL1J26     1      50    30   0.1
22178               ZUL2J23     1      45    45   0.1
22179              ZV261000     1       1     1     1

[22180 rows x 5 columns]

In [43]:
prods['Alto'] = pd.to_numeric(prods['Alto'])
prods['Ancho'] = pd.to_numeric(prods['Ancho'])
prods['Fondo'] = pd.to_numeric(prods['Fondo'])
prods['Peso'] = pd.to_numeric(prods['Peso'])

prods['Alto'] = prods['Alto'].apply(np.ceil).astype(int)
prods['Ancho'] = prods['Ancho'].apply(np.ceil).astype(int)
prods['Fondo'] = prods['Fondo'].apply(np.ceil).astype(int)
prods['Peso'] = prods['Peso'].apply(np.ceil).astype(int)

prods

                       Item  Alto  Ancho  Fondo  Peso
0                    010115    40      3     40     1
1      010408 0870187070 15     7     87    187    15
2              0135COMP2156     1      1      1     1
3                01_S799_BR    95     70      2     1
4               01_S799_COL   189     81     13     3
...                     ...   ...    ...    ...   ...
22175               ZOO1J35     1     45     45     1
22176               ZOO2J35     1     45     45     1
22177               ZUL1J26     1     50     30     1
22178               ZUL2J23     1     45     45     1
22179              ZV261000     1      1      1     1

[22180 rows x 5 columns]

In [44]:
prods = prods[prods['Alto'] <= 300]
prods = prods[prods['Ancho'] <= 300]
prods = prods[prods['Fondo'] <= 300]

prods = prods[prods['Alto'] > 1]
prods = prods[prods['Ancho'] > 1]
prods = prods[prods['Fondo'] > 1]

prods = prods[(prods.Alto > 1) | (prods.Ancho > 1) | (prods.Fondo > 1)]


prods.reset_index(drop=True, inplace=True)
prods

                       Item  Alto  Ancho  Fondo  Peso
0                    010115    40      3     40     1
1      010408 0870187070 15     7     87    187    15
2                01_S799_BR    95     70      2     1
3               01_S799_COL   189     81     13     3
4                01_S799_RS    95     70      2     1
...                     ...   ...    ...    ...   ...
17947               Z011R40    39    140     45    25
17948               Z012R52   103    170    205    64
17949               Z013R52   103    150    195    55
17950               Z014R52    35     60     41    17
17951               Z015R52    75    125     46    82

[17952 rows x 5 columns]

In [45]:
prods = prods[['Alto', 'Ancho', 'Fondo']]

In [46]:
prods

       Alto  Ancho  Fondo
0        40      3     40
1         7     87    187
2        95     70      2
3       189     81     13
4        95     70      2
...     ...    ...    ...
17947    39    140     45
17948   103    170    205
17949   103    150    195
17950    35     60     41
17951    75    125     46

[17952 rows x 3 columns]

In [47]:
prods.to_csv("Products_Dimensions.csv", index=False)